{% extends 'core/base.html' %}
{% load bootstrap_field %}

{% block title %}Login{% endblock %}

{% block yield %}
    <div class="container">
        <div class="row">
            <div id="form" class="span6 offset3">
                <h1>Login</h1>
                <form action="{% url core:login %}" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-actions">
                        <a href="{% url socialauth_begin 'facebook' %}" class="btn">Login with Facebook</a>
                        <a href="{% url socialauth_begin 'twitter' %}" class="btn">Loging with Twitter</a>
                    </div>

                    {% for field in form %}
                        {% bootstrap_field field %}
                    {% endfor %}

                    {% if message %}
                        <div class="message">{{ message }}</div>
                    {% endif %}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Login</button>
                        <a href="{% url core:home %}" class="btn">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
